<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DragonBallMatching.Properties.Settings.Dragon_Ball_MatchingConnectionString"
            connectionString="Data Source=.;Initial Catalog=Dragon_Ball_Matching;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>